@(carForm: Form[crud.models.Car], car: crud.models.Car)

@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.playauth.views.helper._
@import crud.models.Brand
@import crud.permissions.CarPermission
@import helper._
@import metronic.{metronicFieldConstructor, text}

@disabledIfLacksEditPermission() = {
    @lacksPermission(Option(car).map(CarPermission.EDIT(_)).getOrElse(CarPermission.ADD)) {
        disabled="disabled"
    }
}

@layout(new AdminContext()) {
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-edit"></i>
                        @Option(car).map { _ =>
                            @Messages("example.crud.car.edit.title")
                        }.getOrElse {
                            @Messages("example.crud.car.add.title")
                        }
                    </div>
                </div>
                <div class="portlet-body">
                    @form(Option(car)
                            .map(_.getId)
                            .map(crud.controllers.routes.CarController.doEdit)
                            .getOrElse(crud.controllers.routes.CarController.doAdd), 'class -> "form-horizontal") {

                        @formKey()

                        <fieldset @disabledIfLacksEditPermission >
                            <div class="form-body">
                                @if(Option(car).isDefined) {
                                    <input type="hidden" name="id" value="@car.getId">
                                }

                                @text(
                                    carForm,
                                    "model",
                                    Messages("example.crud.car.model"),
                                    ""
                                )

                                @text(
                                    carForm,
                                    "registrationId",
                                    Messages("example.crud.car.registrationId"),
                                    ""
                                )

                                @text(
                                    carForm,
                                    "price",
                                    Messages("example.crud.car.price"),
                                    ""
                                )

                                @helper.select(
                                    carForm("brand.id"),
                                    options = Brand.find.all().map(brand => (brand.getId, brand.getTitle)).sortBy(_._2),
                                    'class -> "form-control select2me",
                                    '_label -> Messages("example.crud.car.brand")
                                )(FieldConstructor(metronicFieldConstructor.f), implicitJavaMessages)

                                @metronic.datepicker(
                                    carForm,
                                    "buyDate",
                                    Messages("example.crud.car.buyDate"),
                                    "",
                                    (a: String) => a
                                )
                            </div>
                        </fieldset>
                        <div class="form-actions fluid">
                            <div class="col-md-offset-3 col-md-8">
                                <button type="submit" @disabledIfLacksEditPermission class="btn red">@Messages("backend.btn.save")
                                </button>
                                <a href="@crud.controllers.routes.CarController.list()" class="btn default">@Messages("backend.btn.cancel")</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}