@(pages: ch.insign.commons.db.Paginate[crud.models.Car], pageNumber: Int, groupBrandId: String)

@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.admin.utils.pagination
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import ch.insign.playauth.views.helper._
@import views.html.tags._
@import crud.models.Brand
@import crud.permissions.CarPermission

@deleteModal(item: crud.models.Car)= {
    <div id="confirm-delete-@item.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@Messages("example.crud.car.delete.modal.title")</h4>
        </div>
        <div class="modal-body">
            <p>@Messages("example.crud.car.delete.modal.content", item.getModel)</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.btn.cancel")</button>
            <a href="@crud.controllers.routes.CarController.delete(item.getId)" class="btn red">@Messages("modal.btn.delete")</a>
        </div>
    </div>
}

@groupByBrand() = {
    <div class="form-group row">
        <label for="groupBrand" class="control-label col-md-3">@Messages("example.crud.car.groupBrand.label"):</label>
        <select id="groupBrand" name="groupBrand" size="1" class="form-control input-medium col-md-9">
            <option value="" data-url="@crud.controllers.routes.CarController.list(1, pages.getItemsPerPage, "")">
            @Messages("example.crud.car.groupBrand.default")
            </option>
            @Brand.find.all().map { brand =>
                <option @if(brand.getId.equals(groupBrandId)) {
                    selected="selected"
                } value="@brand.getId" data-url="@crud.controllers.routes.CarController.list(1, pages.getItemsPerPage, brand.getId)">
                    @brand.getTitle
                </option>
            }
        </select>
    </div>
}

@selectRow() = {
    @if(pages.getPage(pageNumber).getList != null && !pages.getPage(pageNumber).getList.isEmpty) {
        <div class="pull-right">
            <label>
                <select id="selectRowValue" name="selectRowValue" size="1" class="form-control input-small">
                @pages.getShortItemsPerPageList.map { selectedValue =>
                    <option @if(selectedValue == pages.getItemsPerPage || pages.getTotalItemCount == pages.getItemsPerPage) { selected="selected" }
                        value="@selectedValue"
                        data-url="@crud.controllers.routes.CarController.list(1, selectedValue, groupBrandId)">
                        @selectedValue
                    </option>
                }
                </select>
            </label>
        </div>
    }
}

@script() = {
    <script src="@_asset("javascripts/example-crud.js")"></script>
}

@defining(new AdminContext) { ctx =>
    @layout(ctx, pageFooter = script) {
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>@Messages("example.crud.car.list.title")
                </div>
                <div class="actions">
                    <a href="@crud.controllers.routes.CarController.add" class="btn red">
                        <i class="icon-plus"></i> @Messages("backend.newEntry.button")
                    </a>

                </div>
            </div>
            <div class="portlet-body form">
                    <div class="row">
                        <div class="col-md-4 col-sm-12">@groupByBrand</div>
                        <div class="col-md-8 col-sm-12">@selectRow</div>
                    </div>
                    @pagination(pageNumber, pages.getPage(pageNumber), crud.controllers.routes.CarController.list(_, pages.getItemsPerPage, groupBrandId))
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>@Messages("example.crud.car.id")</th>
                                <th>@Messages("example.crud.car.model")</th>
                                <th>@Messages("example.crud.car.brand")</th>
                                <th>@Messages("example.crud.car.registrationId")</th>
                                <th>@Messages("example.crud.car.price")</th>
                                <th>@Messages("example.crud.car.buyDate")</th>
                                <th>@Messages("example.crud.car.action")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @Option(pages.getPage(pageNumber).getList).filter(_.nonEmpty).map { carList => @carList.map { item =>
                            <tr>
                                <td>@item.getId</td>
                                <td>@item.getModel</td>
                                <td>@Option(item.getBrand).map(_.getTitle).getOrElse(Messages("example.crud.car.no.brand"))</td>
                                <td>@item.getRegistrationId</td>
                                <td>@item.getPrice</td>
                                <td>@dateTimeSwiss(item.getBuyDate)</td>
                                <td>
                                        @*
                                            Prevent unauthorized users edit items
                                            @see {href='https://confluence.insign.ch/display/PLAY/Play+Auth+-+View+Helpers}
                                        *@
                                        @hasPermission(CarPermission.EDIT(item)) {
                                            <a title="Bearbeiten" href="@crud.controllers.routes.CarController.edit(item.getId)">
                                                <i class="fa fa-edit"></i>
                                            </a> &nbsp;
                                        }
                                        @hasPermission(CarPermission.DELETE(item)) {
                                            <a data-toggle="modal" title="Löschen" href="#confirm-delete-@item.getId">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        }
                                </td>
                            <tr>
                            @deleteModal(item)
                        }}.getOrElse {
                            <tr><td colspan="7">@Messages("example.crud.car.no.result")</td></tr>
                        }
                        </tbody>
                    </table>
                    @pagination(pageNumber, pages.getPage(pageNumber), crud.controllers.routes.CarController.list(_, pages.getItemsPerPage, groupBrandId))
            </div>
        </div>
    }
}
