@import play.api.i18n.Messages
@(data: crud.block.CarInventoryBlock, cars: List[crud.models.Car])

@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.ContentBlock

@main(data) {
    <h1>@data.getPageTitle</h1>
    <div class="box">
        <h2 class="text-center">@data.getDealerTitle</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@Messages("example.crud.car.model")</th>
                        <th>@Messages("example.crud.car.brand")</th>
                        <th>@Messages("example.crud.car.registrationId")</th>
                        <th>@Messages("example.crud.car.price")</th>
                        <th>@Messages("example.crud.car.buyDate")</th>
                    </tr>
                </thead>
                <tbody>
                @if(cars.nonEmpty) {
                   @cars.map { item =>
                       <tr>
                           <td>@item.getModel</td>
                           <td>@Option(item.getBrand).map(_.getTitle).getOrElse(Messages("example.crud.car.no.brand"))</td>
                           <td>@item.getRegistrationId</td>
                           <td>@item.getPrice</td>
                           <td>@dateTimeSwiss(item.getBuyDate)</td>
                        <tr>
                   }
                } else {
                    <tr><td colspan="5">@Messages("example.crud.car.no.result")</td></tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <hr>

    <footer class="container footer">
        @Template.addBlockByKey(classOf[ContentBlock], "GlobalFooter").render()
    </footer>
}



