@import ch.insign.cms.views.html._blockBase
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import crud.models.Car
@(data: blocks.myblock.MyContentBlock, cars: List[Car])

@hrefLink(link: String) = @{
    Option(link)
            .filter(l => l.startsWith("/"))
            .getOrElse( "//" + link )
}

@_blockBase(data = data, delete = true, edit = true, add = false, color = "red", name = "MyContent", CssClass = "col-md-12") {
    <div class="box well">
        <div class="row box-content">
            <div class="col-sm-3">
                <h3>@data.getTitle.get()</h3>
                <h4>@data.getCars</h4>
                <button type="button" class="btn btn-primary" id="@data.getId">For my modal</button>
                <p class="text text-danger" style="display: none;">An error has occurred - forbidden</p>
            </div>
            <div class="col-sm-9">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>@Messages("example.crud.car.model")</th>
                                <th>@Messages("example.crud.car.brand")</th>
                                <th>@Messages("example.crud.car.registrationId")</th>
                                <th>@Messages("example.crud.car.price")</th>
                                <th>@Messages("example.crud.car.buyDate")</th>
                            </tr>
                        </thead>
                        <tbody>
                        @if(cars.nonEmpty) {
                            @cars.map { item =>
                                <tr>
                                    <td>@item.getModel</td>
                                    <td>@Option(item.getBrand).map(_.getTitle).getOrElse(Messages("example.crud.car.no.brand"))</td>
                                    <td>@item.getRegistrationId</td>
                                    <td>@item.getPrice</td>
                                    <td>@dateTimeSwiss(item.getBuyDate)</td>
                            <tr>
                            }
                        } else {
                            <tr><td colspan="5">@Messages("example.crud.car.no.result")</td></tr>
                        }
                        </tbody>
                    </table>
                </div>
                <p>@Html(data.getContent.get())</p>
            </div>
        </div>

    </div>
}
