@(data: blocks.teaserblock.TeaserBlock)

@import ch.insign.cms.views.html._blockBase
@import views.html.tags._asset
@hrefLink(link: String) = @{
    Option(link)
        .filter(l => l.startsWith("/"))
        .getOrElse( "//" + link )
}

@_blockBase(data = data, delete = true, edit = true, add = false, color = "red", name = "Content", CssClass = "col-md-4") {
    <div class="box well">
        <div class="row box-content">
            <div class="col-sm-6">
                <h3>@data.getTitle.get()</h3>
                <p class="lead">@data.getSubtitle.get()</p>
                <p>@Html(data.getContent.get())</p>
            </div>
            <div class="col-sm-6">
                <a href="@hrefLink(data.getLinkUrl.get())">
                    <img src="@_asset(data.getLogoUrl.get()).toString()" class="img-responsive" alt="@data.getTitle">
                </a>
            </div>
        </div>
        <div class="row box-actions">
            <div class="col-sm-12">
                <a href="@hrefLink(data.getLinkUrl.get())" class="btn btn-primary">@data.getLinkText.get() &rarr;</a>
            </div>
        </div>
    </div>
}
