@import play.api.i18n.Messages
@import ch.insign.cms.models.Template
@import ch.insign.cms.models.CollectionBlock
@import blocks.mypageblock.MyPageBlock._
@(data: blocks.mypageblock.MyPageBlock)
@main(data) {
    <h1>@data.getPageTitle</h1>

    <div class="col-md-6">
        <div class="box">
            @Template.addBlockToSlot(classOf[CollectionBlock], data, "slotleft").context(CTX_LEFTCOL).cached()
        </div>
    </div>

    <div class="col-md-6">
        <div class="box">
            @Template.addBlockToSlot(classOf[CollectionBlock], data, "slotright").context(CTX_RIGHTCOL).cached()
        </div>
    </div>


}